In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('../data/iterim/bikes-02-new_features.csv')
df.head()

,brand_name,model_name,motor_size,model_year,kms_driven,mileage,owner,power,price
0,Bajaj,Avenger,220.0,2017,17000.0,35.0,1,19.0,63500
1,Royal-Enfield,Classic,350.0,2016,50000.0,35.0,1,19.8,115000
2,Hyosung,GT250R,250.0,2012,14795.0,30.0,1,28.0,300000
3,Bajaj,Dominar,400.0,2017,28.0,28.0,1,34.5,100000
4,Jawa,Perak,330.0,2020,2000.0,0.0,1,30.0,197500